<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <remove value="Default.htm" />
                <remove value="index.htm" />
                <add value="default.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <clear />
                <rule name="OpenWeatherAPI-Daily" stopProcessing="true">
                    <match url="^api/weather/daily/([a-z]+)/([a-z]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://api.openweathermap.org/data/2.5/forecast/daily?q={R:1},{R:2}&amp;units=metric&amp;cnt=5&amp;appid=13927c9f7a3b703e6269522d63cdc6ce" appendQueryString="false" />
                </rule>
                <rule name="OpenWeatherAPI-Hourly" stopProcessing="true">
                    <match url="^api/weather/hourly/([a-z]+)/([a-z]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://pro.openweathermap.org/data/2.5/forecast/hourly?q={R:1},{R:2}&amp;units=metric&amp;appid=13927c9f7a3b703e6269522d63cdc6ce" appendQueryString="false" />
                </rule>
                <rule name="OpenWeatherAPI-Current" stopProcessing="true">
                    <match url="^api/weather/([a-z]+)/([a-z]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://api.openweathermap.org/data/2.5/weather?q={R:1},{R:2}&amp;units=metric&amp;appid=13927c9f7a3b703e6269522d63cdc6ce" appendQueryString="false" />
                    <serverVariables>
                    </serverVariables>
                </rule>
                <rule name="Proxy to OpenAI" stopProcessing="true">
                    <match url="^api/ai/(.*)" />
                    <serverVariables>
                        <set name="HTTP_Authorization" value="Bearer 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" />
                    </serverVariables>
                    <action type="Rewrite" url="https://api.openai.com/v1/responses" appendQueryString="false" />
                </rule>
                <rule name="Openweather-Geo">
                    <match url="^api/geo/([a-z]+)" />
                    <action type="Rewrite" url="http://api.openweathermap.org/geo/1.0/direct?q={R:1}&amp;limit=5&amp;appid=13927c9f7a3b703e6269522d63cdc6ce" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
