<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <remove value="Default.htm" />
                <remove value="index.htm" />
                <add value="default.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <clear />
                <rule name="OpenWeatherAPI-Daily" stopProcessing="true">
                    <match url="^api/weather/daily/([a-z]+)/([a-z]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://api.openweathermap.org/data/2.5/forecast/daily?q={R:1},{R:2}&amp;units=metric&amp;cnt=5&amp;appid=13927c9f7a3b703e6269522d63cdc6ce" appendQueryString="false" />
                </rule>
                <rule name="OpenWeatherAPI-Hourly" stopProcessing="true">
                    <match url="^api/weather/hourly/([a-z]+)/([a-z]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://pro.openweathermap.org/data/2.5/forecast/hourly?q={R:1},{R:2}&amp;units=metric&amp;appid=13927c9f7a3b703e6269522d63cdc6ce" appendQueryString="false" />
                </rule>
                <rule name="OpenWeatherAPI-Current" stopProcessing="true">
                    <match url="^api/weather/([a-z]+)/([a-z]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://api.openweathermap.org/data/2.5/weather?q={R:1},{R:2}&amp;units=metric&amp;appid=13927c9f7a3b703e6269522d63cdc6ce" appendQueryString="false" />
                    <serverVariables>
                    </serverVariables>
                </rule>
                <rule name="Proxy to OpenAI" stopProcessing="true">
                    <match url="^api/openai/(.*)" />
                    <serverVariables>
                        <set name="HTTP_Authorization" value="Bearer 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" />
                    </serverVariables>
                    <action type="Rewrite" url="https://api.openai.com/{R:1}" appendQueryString="false" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="Authorization" defaultValue="sk-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">
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>
