
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Chalkboard, Arial;
}

body {
  height: 100%; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

Center the container x
#centered-container {
width: 100%;
}

#header{
  height: 60px;
}

#header img {
  padding-top: 10px;
  padding-left: 20px;
  float: left;
  z-index: -1;
}

#autocomplete-container {
  position: relative;
}

/* city input*/
#city{
  width: 200px;
  height: 40px;
  font-size: 30px;
  float: right;
  margin-top: 10px;
  border: 2px;
}

#autocomplete-list {
  position: absolute;
  top: 70px;
  right: 0;
  width: 200px;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1000;
  background: white;
  list-style: none;
  display: none; 
}

#autocomplete-list li {
  padding: 10px;
  cursor: pointer;
}

#autocomplete-list li:hover,
#autocomplete-list li.active {
  background-color: #f1f1f1;
}

/* Select bar styling */
#main{
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
  height: 700px;
}

.day-card {
  text-align: right;
  width: 200px;
  height:700px;
  font-weight: bold;
}

.weather {
  position:relative;
  height: 100px;
}

.day-card .day {
  text-align: center;
  font-size: 30px;
} 

.day-card .tday {
  font-size: 20px;
} 
.day-card .tmaxmin {
  font-size: 16px;
} 

.dress_pic{
  position:relative;
  width: 200px;
  height: 350px;
}

/* pic for girl */
.dress_pic img{
  float: right;
  width: 100%;
}

/* pic for dress */
.dress_pic .layer{
  position: absolute;
  top: 0px;
  left:0px;
}

.dress_content {
  text-align: left;
  font-size: 16px;
  margin: 5px;
}

#footer{
  height: 40px;
  padding: 10px;
  background-color: #2973B2;
  text-align: center;
  font-size:  20px;
  color:#000;
}

.sun{
 z-index: 2;
}

.sunray{
  position: absolute;
  animation-name: sunray;
}

@property --dynamic-x {
  syntax: '<length>';
  inherits: false;
  initial-value: 100px;
}

@property --dynamic-y {
  syntax: '<length>';
  inherits: false;
  initial-value: 100px;
}
@keyframes sun{
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}

@keyframes sunray{
  0% {opacity: 1;}
  100% {transform: translate(var(--dynamic-x), var(--dynamic-y)); opacity: 0;}
}

@keyframes clouds{ 
  0% {transform: translate(50px, 0px);}
  100% {transform: translate(-50px, 0px);}
}

@keyframes raindrops{
  0%   { transform: translate(0px, 0px);}
  100% { transform: translate(0px, 450px); opacity: 0; }
}

@keyframes snowflakes{
  0%   { transform: translate(0px, 0px);}
  100% { transform: translate(0px, 470px); opacity: 1; }
}

@keyframes mists{
  0%   { transform: translate(40px, 0px); opacity: 0.5;}
  100% { transform: translate(-40px, 0px); opacity: 0;}
}